<div class="contain">


  <p>
      A collection of my <a href="http://phaser.io">Phaser</a> 
      games, feel free to fork me on
      <a href="{{repoURL}}"> 
        <span class="fa fa-github"> 
        </span>
      </a>, report issues or request features.
    
      
    </p>
  <p>
    Version: 
    <em>
      {{version}}
    </em>
  </p>

  <div class="row">
    <div class="row__inner">

      <div class="tile" routerLink="/honku">
        <div class="tile__media">
          <img class="tile__img" src="assets/honku_title.png" alt="" />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Honku
          </div>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <img class="tile__img" src="assets/coming_soon.jpg" alt="" />
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Qeue
          </div>
        </div>
      </div>


    </div>
  </div>


</div>